.emojicha-box {
  min-width: 16rem;
  width: 25%;
  height: 250px;
  background: #f5e2d8;
  font-family: 'PT Sans', sans-serif;
}

.emojiselect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emojiselect-items {
  display: flex;
  font-size: 1.6rem;
}

.emojiselect-item {
  margin: 0 10px;
  background: white;
  outline: none;
  border: 2px solid lightgray;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}

.emojiselect-item:hover {
  background: rgb(231, 231, 231);
}

.emojiselect-item.emojiselect-item-selected {
  background: rgb(231, 231, 231);
  border: 2px solid gray;
}