.emojicha-box {
  min-width: 16rem;
  width: 25%;
  height: 250px;
  background: #f5e2d8;
  font-family: 'PT Sans', sans-serif;
}

.emojiselect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emojiselect-items {
  display: flex;
  font-size: 1.4rem;
}

.emojiselect-item {
  margin: 0 10px;
}